@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Noto Sans JP", sans-serif;
  color: rgba(0, 0, 0, 0.668);
}
.container {
  max-width: 800px;
  width: 90%;
  margin: auto;
  padding: 40px;
  border: 3px solid lightgrey;
  border-radius: 8px;
  margin-top: 100px;
}
.formulario {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.formulario__label {
  display: block;
  font-weight: 700;
  padding: 10px 0;
  cursor: pointer;
}
.formulario__grupo-input {
  position: relative;
}
.formulario__input {
  width: 100%;
  background: rgba(211, 211, 211, 0.2);
  border: 3px solid transparent;
  border-radius: 3px;
  height: 45px;
  line-height: 45px;
  padding: 0 40px 0 10px;
  transition: 0.1s ease all;
  border-radius: 4px;
}
.formulario__input:focus {
  border: 2px solid blue;
  outline: none;
}
.formulario__input-error {
  font-size: 12px;
  margin-bottom: 0;
  display: none;
}
.formulario__input-error-activo {
  display: block;
}
.formulario__validacion-estado {
  position: absolute;
  right: 10px;
  bottom: 15px;
  z-index: 100;
  font-size: 16px;
  opacity: 0;
}
.formulario__checkbox {
  margin-right: 10px;
}
.formulario__grupo-terminos,
.formulario__mensaje,
.formulario__grupo-btn-enviar {
  grid-column: span 2;
}
.formulario__mensaje {
  height: 45px;
  line-height: 45px;
  background-color: rgba(255, 0, 0, 0.5);
  border: 1px solid red;
  padding: 0 15px;
  border-radius: 3px;
  display: none;
  color: red;
  background-color: white;
  text-align: center;
  align-items: center;
}
.formulario__mensaje-activo {
  display: block;
}
.formulario__mensaje p {
  margin: 0;
}
.formulario__grupo-btn-enviar {
  display: flex;
  flex-direction: column;
}
.formulario__btn {
  height: 45px;
  line-height: 45px;
  width: 30%;
  background-color: blue;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.1s ease all;
}
.formulario__mensaje-exito {
  font-size: 14px;
  color: #119200;
  display: none;
}
.formulario__mensaje-exito-activo {
  display: block;
}
.formulario__grupo-correcto .formulario__validacion-estado {
  color: green;
  opacity: 1;
}
.formulario__grupo-incorrecto .formulario__label {
  color: red;
}
p {
  color: red;
  font-size: 14px;
}
.formulario__grupo-incorrecto .formulario__validacion-estado {
  color: red;
  opacity: 1;
}
.formulario__grupo-incorrecto .formulario__input {
  border: 1px solid red;
}
@media screen and (max-width: 800px) {
  .formulario {
    grid-template-columns: 1fr;
  }

  .formulario__grupo-terminos,
  .formulario__mensaje,
  .formulario__grupo-btn-enviar {
    grid-column: 1;
  }
  .formulario__btn {
    width: 100%;
  }
}
